*{
    box-sizing:border-box;
}

div, section, p, h1, h2, h3, h4, span{
    margin:0;
    padding:0;
}

body{
    font-family:'Montserrat';
    font-size:16px;
}

.container{
    max-width:1200px;
    margin:auto;
    padding:0 50px;
}

.half{
    flex: 50%;
}

.half-first{
    padding: 30px 0;
}

section{
    margin-top:150px;
}


/*****NAVIGATION*****/

.drawer-nav {
    background-color: rgba(1,93,94, 0.6);
    margin-right:100px;
}

.drawer--left .drawer-hamburger{
    background-color:rgba(1,93,94, 0.6);
    top:1vh;
    left:1%;
    border-radius:10px;
    margin-left:20px;
}

.drawer-hamburger-icon, .drawer-hamburger-icon:after, .drawer-hamburger-icon:before{
    background-color:#FFF;
}

/*****HOME SECTION********/

#home{
    margin-top:10vh;
}

.arrow{
    width:300px;
}

#home{
    display:flex;
    justify-content:space-between;
}

#home div.relative-container{
    position:relative;
    width:480px;
    margin-left:auto;
    margin-right:0;
}

.image-container{
    object-fit:cover;
    width:480px;

}

.image-container img{
    width:100%;
    height:480px;

}

.plane{
    height:250px;
    position:absolute;
    left:-30%;
    bottom:0;
}

img.sky{
    margin:auto;
}

/***HOW IT WORKS SECTION*****/

#howitworks{
    display:flex;
}

.ribbon:before {
    /* margin-top:0.5em; */
    content: "";
    display:inline-block;
    border:35px solid #015D5E;
  }
  
  
  .ribbon:before {
    border-left-color:transparent;
  }


  .ribbon{
      position:absolute;
      display:flex;
      width:calc(100% + 350px);
      top:75px;
      left:-350px;
  }

  #howitworks h2{
    height:70px;
    overflow:hidden;
    background-color: #015D5E;
    width:100%;
    line-height:70px;
    text-align:right;    
    color:#FFF;
    font-size:2.5rem;
    padding-right:50px;

  }

  .half-relative{
      position:relative;
  }

  #howitworks .half-first p{
      margin-top:170px;
      font-size:1.7rem;
      font-weight:300;
  }

  #howitworks .half-first p:last-of-type{
      margin-top:30px;
  }

  #howitworks .half-first p a{
      text-decoration:none;
      color:#B23232;
      font-weight:400;
  }


/******TYPOGRAPHY******/

h1, h2{
    font-family:'Abril Fatface';
    font-weight:normal;
}


h1{
    font-size:6rem;
    position:absolute;
    z-index:1;
}

#home h2{
    color:#015D5E;
    padding-top:130px;
    font-size:3rem;
}

h3{
    font-size:2rem;
    width:70%;
    font-weight:300;
}

h4{
    font-size:1.8rem;
    font-weight:200;
    padding-top:20px;
}

