* {
    box-sizing: border-box;
}

div, section, p, h1, h2, h3, h4, span, form, form input, input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    margin: 0;
    padding: 0;
    border-bottom:0;
}

html{
    scroll-behavior:smooth;
}

body {
    font-family: 'Montserrat';
    font-size: 16px;
}

.page-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 50px;
}

.half {
    flex: 50%;
}

.half-first {
    padding: 30px 0;
}

section {
    margin-top: 150px;
}

/*****NAVIGATION*****/

.sidenav{
    background-color: rgba(1, 93, 94, 0.6);
    color:#FFF;
}

.sidenav-trigger .material-icons{
    color:rgba(256,256,256,1);
    background-color: rgba(1, 93, 94, 0.8);
    top: 1vh;
    left: 1%;
    border-radius: 5px;
    font-size:4rem;
    position:fixed;
    z-index: 6;
}

.sidenav li>a{
    color:rgba(256,256,256,0.8);
    font-size:1.5rem;
    padding-bottom:20px;
    font-weight:200;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav{
    box-shadow:none;
}


/*****HOME SECTION********/

#home {
    margin-top: 10vh;
}

.arrow {
    width: 300px;
}

#home {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

#home div.relative-container {
    position: relative;
    width: 440px;
    margin-left: auto;
    margin-right: 0;
}

.image-container {
    width: 440px;
}

.image-container img {
    width: 100%;
    height: 440px;
    object-fit: cover;

}

.plane {
    height: 250px;
    position: absolute;
    left: -30%;
    bottom: 0;
}



/***HOW IT WORKS SECTION*****/

#howitworks {
    display: flex;
    flex-wrap:wrap;
}

.ribbon:before {
    /* margin-top:0.5em; */
    content: "";
    display: inline-block;
    border: 35px solid #015D5E;
}

.ribbon:before {
    border-left-color: transparent;
}

.ribbon {
    position: absolute;
    display: flex;
    width: calc(100% + 350px);
    top: 25px;
    left: -350px;
}

#howitworks h2 {
    height: 70px;
    overflow: hidden;
    background-color: #015D5E;
    width: 100%;
    line-height: 70px;
    text-align: right;
    color: #FFF;
    padding-right: 50px;
}

.half-relative {
    position: relative;
}

#howitworks .half-first p {
    margin-top: 100px;
    font-size: 1.7rem;
    font-weight: 300;
}

#howitworks .half-first p:last-of-type {
    margin-top: 30px;
}

#howitworks .half-first p a {
    font-weight: 400;
}

/******CAROUSEL************/

.carousel .carousel-item {
    width:350px;
    height:350px;
}

.carousel img{
    width:100%;
    height:100%;
    object-fit:cover;
}

#travellist h2{
    text-align:center;
    padding-bottom:50px;
}

.carousel .material-icons{
    color:black;
}

.carousel-container{
    position:relative;
}

.carousel-container .movePrevCarousel, .carousel-container .moveNextCarousel{
    width:50px;
    position:absolute;
    top:150px;
    
}

.movePrevCarousel{
    left:-40px;
    clip-path: polygon(0 50%, 100% 100%, 100% 0);

}

.moveNextCarousel{
    right:-40px;
    clip-path: polygon(100% 50%, 0 100%, 0 0);

}

.carousel-item h3{
    position:absolute;
    color:#FFF;
    text-align:right;
    right:10px;
    top:20px;
}

/*********SERVICES**********/

.services-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

div.card{
    flex:1 30%;
    margin-bottom:70px;
    margin-right:5%;
    background-color:#E5EAEA;
    border-radius:15px;
}

div.card .card-image img{
    -moz-border-radius: 0px;
-webkit-border-radius: 15px 15px 0px 0px;
border-radius: 15px 15px 0px 0px;
    height:200px;
    object-fit:cover;

}

div.card:nth-of-type(3n+3){
    margin-right:0;
}

/*********NEWSLETTER********/

#newsletter{
    width:100%;
    text-align:center;
    background:#015D5E;
    padding: 25px 0;
    margin-bottom:150px;
}

#newsletter form{
    width:50%;
    margin:auto;
    display:flex;
    border:solid 2px #CECECE;
    margin-top:20px;
}

input[type=email]:not(.browser-default){
    background-color:#FFF;
    padding-left:10px;
    color:#777777
}

input[type=submit]:not(.browser-default){
    width:150px;
    background-color:#C46C6C;
    color:#FFF;
    font-weight:400;
    text-transform:uppercase;
}

input:focus{
    outline:none;
}


::placeholder{
    color:#777777;
    opacity:1;
    font-weight:200;
    letter-spacing:2px;
}

/******FOOTER*******/

footer{
    height:200px;
    background:url("imgs/sky.jpg") no-repeat;
    background-size: cover;
}










/******TYPOGRAPHY******/

h1, h2 {
    font-family: 'Abril Fatface';
    font-weight: normal;
}

h1 {
    font-size: 6rem;
    position: absolute;
    z-index: 1;
}

#home h2 {
    padding-top: 130px;
    font-size: 3rem;
}

h2{
    color: #015D5E;
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
    width: 70%;
    font-weight: 300;
}

h4 {
    font-size: 1.8rem;
    font-weight: 200;
    padding-top: 20px;
}

a{
    text-decoration:none;
    color:#B23232;
}

.card-content h3{
    font-weight:400;
    color:#015D5E;
    font-size:1.3rem;
    padding-bottom:10px;
}

.card-content p{
    font-weight:300;
}

#newsletter h2, #newsletter p{
    color:#FFF;
}

#newsletter p{
    font-weight:300;
    width:85%;
    margin:auto;
}

#travelservices h2{
    margin-bottom:15px;
    flex:100%;
    text-align:center;
}


/*** MEDIA QUERIES ****/

@media only screen and (max-width:1024px){

    .movePrevCarousel, .moveNextCarousel{
        display:none;
    }

    #home div.relative-container {
        width: 350px;
    }
    
    .image-container {
        width: 350px;
    }   

    .image-container img {
        height: 350px;
    }

    h1{
        font-size:5rem;
    }

    #home h2{
        padding-top:85px;
        font-size:2.5rem;
    }

    #home h3{
        font-size:1.5rem;
    }

    #home h4{
        font-size:1.3rem;
    }

    .plane{
        height:200px;
    }

    #howitworks h2{
        font-size:2.2rem;
    }

    #howitworks .half-first p{
        font-size:1.3rem;
        margin-left:30px;

    }

    .arrow{
        width:270px;
    }

    .card{
        flex:45%;
        margin-right:10%;
    }

    div.card:nth-of-type(odd){
        margin-right:10%;
    }

    div.card:nth-of-type(even){
        margin-right:0;
    }


}


@media only screen and (max-width:900px){
    #home div.relative-container {
        width: 325px;
    }
    
    .image-container {
        width: 325px;
    }   

    .image-container img {
        height: 300px;
    }

    .plane{
        height:175px;
    }

    h1{
        font-size:4rem;
    }

    #home h3{
        font-size:1.3rem;
    }

    #home h4{
        font-size:1.1rem;
    }

    .plane{
        height:175px;
    }

    #home h2{
        padding-top:70px;
        font-size:1.8rem;
    }

    img.arrow{
        width:200px;
    }

    #howitworks .half-first p{
        font-size:1rem;
        margin-top:75px;
    }

    .ribbon:before {
        /* margin-top:0.5em; */
        content: "";
        display: inline-block;
        border: 30px solid #015D5E;
    }
    
    .ribbon:before {
        border-left-color: transparent;
    }
    
    .ribbon {
        position: absolute;
        display: flex;
        width: calc(100% + 250px);
        top: 25px;
        left: -250px;
    }
    
    #howitworks h2 {
        height: 60px;
        overflow: hidden;
        background-color: #015D5E;
        width: 100%;
        line-height: 60px;
        text-align: right;
        color: #FFF;
        padding-right: 50px;
    }

    /* .carousel .carousel-item{
        width:250px;
        height:250px;
    } */



}

@media only screen and (max-width:768px){
    .half{
        flex:100%;
    }


    #home div.relative-container, #home .image-container, .image-container img, #howitworks .relative-container, #howitworks .image-container{
        width:100%;
        height:100%;
    }

    .plane{
        left:50%;
        height:auto;
        width:50%;
    }

    .page-container{
        padding:0;
    }

    #home{
        position:relative;
        margin-top:0;
        height:300px;
        height:auto;
    }

    #home .half-first{
        position:absolute;
        z-index:5;
        padding-top:100px;
        padding-left:50px;
    }

    #home .half-first h2, #home .half-first h3, #home .half-first h4{
        color:#FFF;
    }

    #home h2{
        font-size:2.4rem;
    }

    #howitworks{
        position:relative;
    }

    #howitworks .half-first{
        position:absolute;
    }

    .services-container{
        margin:auto;
    }

    .services-container{
        width:85%;
    }

    #howitworks .text-container{
        text-align:right;
        background-color:#015D5E;
        padding:20px;
        color:#FFF;
        margin-top:100px;
        width:75%;
    }

    #howitworks .half-first p{
        margin-top:0;
    }

    #howitworks .half-first p:last-of-type {
        margin-top: 10px;
    }

    #travellist h2{
        padding-bottom:15px;
    }

    div.card{
        flex:100%;
        margin-right:0;
    }

    div.card:nth-of-type(odd){
        margin-right:0;
    }


}

@media only screen and (max-width:600px){


    #newsletter form{
        width:80%;
    }

    h1{
        font-size:9vw;
    }

    #home h2{
        font-size:5vw;
        padding-top:50px;
    }

    #home{
        margin-top:-30px;
    }

    img.arrow{
        width:40vw;
    }

    #home h3{
        font-size:4vw;
    }

    #home h4{
        font-size:3vw;
    }

    #howitworks h2{
        font-size:5vw;
    }

    #howitworks .half-first p{
        font-size:3vw;
    }
}

@media only screen and (max-width:560px){
    #home{
        height:400px;
    }

    #howitworks .text-container{
        padding:5%;
    }

    #howitworks{
        height:400px;
    }
}